.project{
    

    .project-title{
        text-align: center;
        color: $mainColor;
        margin: 50px 0;
    }


    .project-pic{
        padding: 0 10% 10% 0;
        width: 100%;


    }

    .project-images{
        .project-image{

            padding: 1% 1% 1% 1%;
            img{
                border-radius: 25px;
                padding: 0;
                width: 100%;
                //box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;


            }
            
        }
    }
}