$mainColor: #fcc200;
$mainBackgroundColor: #f8f8f8;
$mainSize: 16px;
$mainTextColor: #707070;
$sidebarTextColor: #c3c3c3;
$sidebarActiveColor: #ffffff;
$sidebarTopBackgroundColor: #ffffff;
$sidebarBottomBackgroundColor: #444444;
