//variables
@import "md/var.scss";
//Font Poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Core CSS
body {
    background-color: $mainBackgroundColor;
    font-family: "Poppins", sans-serif;
}

/*------- Sidebar -------*/

.sidebar {
    width: 300px;
    height: 700px;
    position: fixed;
    box-shadow: 3px 3px 3px #00000010;
    z-index: 99999999;
}

.close-sidebar {
    background-color: $mainColor;
    padding: 15px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    position: fixed;
    left: 300px;
    bottom: 350px;
    box-shadow: 3px 3px 3px #00000015;
}

.close-sidebar img {
    height: 35px;
}

.sidebar .sidebar-top {
    height: 30%;
    background-color: $sidebarTopBackgroundColor;
}

.sidebar .sidebar-top .logo {
    display: block;
    margin: auto;
    width: 225px;
    height: 140px;
    padding: 15px;
}

.sidebar .sidebar-top .logo img {
    width: 100%;
    height: 100%;
}

.sidebar .sidebar-top .sign-btns .btn-signup,
.sidebar .sidebar-top .sign-btns .btn-signin {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: $mainColor;
    border: 3px solid $mainColor;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    font-weight: 500;
}

.sidebar .sidebar-top .sign-btns .btn-signin {
    width: 40%;
    float: left;
    color: $mainColor;
}

.sidebar .sidebar-top .sign-btns .btn-signin:hover {
    color: #fff;
    background-color: $mainColor;
}

.sidebar .sidebar-top .sign-btns .btn-signup {
    width: 40%;
    float: right;
    color: #fff;
    background-color: $mainColor;
}

.sidebar .sidebar-top .sign-btns .btn-signup:hover {
    color: $mainColor;
    background-color: transparent;
}

.sidebar .sidebar-content {
    background-color: $sidebarBottomBackgroundColor;
    height: 50%;
    padding: 15px 50px;
}

.sidebar .sidebar-content .side-link {
    display: block;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    color: $sidebarTextColor;
    margin: 20px 0px;
    font-weight: 500;
}

.sidebar .sidebar-content .side-link.active {
    color: $sidebarActiveColor;
}

.sidebar .sidebar-content .side-link.active::before {
    content: " ";
    position: absolute;
    width: 60px;
    background: #fcc200;
    color: #fcc200;
    height: 5px;
    border-radius: 5px;
    left: -30px;
    top: 255px;
}

.sidebar .sidebar-content .side-link:hover {
    color: $sidebarActiveColor;
}

.sidebar .sidebar-bottom {
    background-color: $sidebarBottomBackgroundColor;
    color: $mainColor;
    height: 20%;
    font-weight: 900;
    text-align: center;
    padding-top: 10px;
}

.sidebar .sidebar-bottom .social-heading {
    text-transform: uppercase;
}

.sidebar .sidebar-bottom .social-icons img {
    padding: 10px;
    width: 55px;
    height: auto;
}

/*------*--- Sidebar ---*------*/
