body {
  background-color: #f8f8f8;
}

/*------- Sidebar -------*/
.sidebar {
  width: 300px;
  height: 700px;
  position: fixed;
  -webkit-box-shadow: 3px 3px 3px #00000010;
          box-shadow: 3px 3px 3px #00000010;
}

.close-sidebar {
  background-color: #fcc200;
  padding: 15px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  position: fixed;
  left: 300px;
  bottom: 350px;
  -webkit-box-shadow: 3px 3px 3px #00000015;
          box-shadow: 3px 3px 3px #00000015;
}

.close-sidebar img {
  height: 35px;
}

.sidebar .sidebar-top {
  height: 30%;
  background-color: #ffffff;
}

.sidebar .sidebar-top .logo {
  display: block;
  margin: auto;
  width: 225px;
  height: 140px;
  padding: 15px;
}

.sidebar .sidebar-top .logo img {
  width: 100%;
  height: 100%;
}

.sidebar .sidebar-top .sign-btns .btn-signup,
.sidebar .sidebar-top .sign-btns .btn-signin {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fcc200;
  border: 3px solid #fcc200;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  font-weight: 500;
}

.sidebar .sidebar-top .sign-btns .btn-signin {
  width: 40%;
  float: left;
  color: #fcc200;
}

.sidebar .sidebar-top .sign-btns .btn-signin:hover {
  color: #fff;
  background-color: #fcc200;
}

.sidebar .sidebar-top .sign-btns .btn-signup {
  width: 40%;
  float: right;
  color: #fff;
  background-color: #fcc200;
}

.sidebar .sidebar-top .sign-btns .btn-signup:hover {
  color: #fcc200;
  background-color: transparent;
}

.sidebar .sidebar-content {
  background-color: #444444;
  height: 50%;
  padding: 15px 50px;
}

.sidebar .sidebar-content .side-link {
  display: block;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  color: #c3c3c3;
  margin: 20px 0px;
  font-weight: 500;
}

.sidebar .sidebar-content .side-link.active {
  color: #ffffff;
}

.sidebar .sidebar-content .side-link.active::before {
  content: " ";
  position: absolute;
  width: 60px;
  background: #fcc200;
  color: #fcc200;
  height: 5px;
  border-radius: 5px;
  left: -30px;
  top: 255px;
}

.sidebar .sidebar-content .side-link:hover {
  color: #ffffff;
}

.sidebar .sidebar-bottom {
  background-color: #444444;
  color: #fcc200;
  height: 20%;
  font-weight: 900;
  text-align: center;
  padding-top: 10px;
}

.sidebar .sidebar-bottom .social-heading {
  text-transform: uppercase;
}

.sidebar .sidebar-bottom .social-icons img {
  padding: 10px;
  width: 55px;
  height: auto;
}

/*------*--- Sidebar ---*------*/
.slide-fade-enter-active {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  -webkit-transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  opacity: 0;
}
/*# sourceMappingURL=main.css.map */